@charset "utf-8";
/* CSS Document */
*, body{
	margin: 0;
	padding: 0;
}
#contact-form{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	max-width: 350px;
	width: 100%;
	padding: 10px 30px 10px 15px;;
	border: 2px solid #000;
	box-shadow: 2px 2px #000;
}
#contact-form h2{
	text-align: center;
	margin-bottom: 10px;
}
label,input{
	margin: 15px 0;
}
#contact-form form input[type="text"],
#contact-form form input[type="email"],
#contact #description{
	width: 100%;
	border: 1px solid #e0e0e0;
	padding: 10px;;
}
#contact-form #description{
	height: 80px;
	resize: none;
}
#contact-form form input[type="submit"]{
	border: 0;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	background-color: #4DFC32;
	cursor: pointer;
}




